.App {
  text-align: center;
  background-color: rgb(73, 29, 114);
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content {
  position: relative;
  padding-bottom: 200px;
}

.footer {
  background-color: #282c34;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  padding-top: 10px;
}
